<a href="https://colab.research.google.com/github/ale1995co/Final-Capstone/blob/master/ALS_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Install Java, Spark, Findspark and PySpark
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://apache.osuosl.org/spark/spark-2.4.5/spark-2.4.5-bin-hadoop2.7.tgz
!tar xf spark-2.4.5-bin-hadoop2.7.tgz

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.5-bin-hadoop2.7"

!pip install -q findspark
!pip install pyspark

# mount Google Drive
from google.colab import drive
drive.mount('/content/gdrive')

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/9a/5a/271c416c1c2185b6cb0151b29a91fff6fcaed80173c8584ff6d20e46b465/pyspark-2.4.5.tar.gz (217.8MB)
     |████████████████████████████████| 217.8MB 59kB/s
Collecting py4j==0.10.7
  Downloading https://files.pythonhosted.org/packages/e3/53/c737818eb9a7dc32a7cd4f1396e787bd94200c3997c72c1dbe028587bd76/py4j-0.10.7-py2.py3-none-any.whl (197kB)
     |████████████████████████████████| 204kB 47.2MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-2.4.5-py2.py3-none-any.whl size=218257927 sha256=860cc2e90b90af1144f360e2eab29fd8e4bd9c20051d38ea9118a34bb82584f2
  Stored in directory: /root/.cache/pip/wheels/bf/db/04/61d66a5939364e756eb1c1be4ec5bdce6e04047fc7929a3c3c
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.7 pyspark-2.4.5
Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
import os
import time

# spark imports
from pyspark.sql import SparkSession
from pyspark.sql.functions import UserDefinedFunction, explode, desc
from pyspark.sql.types import StringType, ArrayType
from pyspark.mllib.recommendation import ALS
from pyspark.sql import Row,SQLContext, SparkSession

# data science imports
import math
import numpy as np
import pandas as pd

# visualization imports
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [0]:
USERS_PATH = "/content/gdrive/My Drive/Colab Notebooks/Colab Datasets/Final Capstone/users_cleaned.csv" 
ANIME_PATH = "/content/gdrive/My Drive/Colab Notebooks/Colab Datasets/Final Capstone/anime_cleaned.csv"
SCORES_PATH = "/content/gdrive/My Drive/Colab Notebooks/Colab Datasets/Final Capstone/animelists_cleaned.csv"
APP_NAME = "Anime Recommender"
SPARK_URL = "local[*]"
spark = SparkSession.builder.appName(APP_NAME).master(SPARK_URL).getOrCreate()
sc = spark.sparkContext

# Context 

The csvs that are use for pyspark are the clean ones. The creator of the dataset omitted rows that has rows the best of his ability. I tried running the filtered ones but it was giving me errors through pyspark.

# Load Data

In [0]:
sqlContext = SQLContext(sc)
usersdf = spark.read.load(os.path.join(USERS_PATH), format='csv', header=True, inferSchema=True)
animedf = spark.read.load(os.path.join(ANIME_PATH), format='csv', header=True, inferSchema=True)
scoresdf =spark.read.load(os.path.join(SCORES_PATH), format='csv', header=True, inferSchema=True)

In [5]:
usersdf.show(5)

+--------------+-------+-------------+--------------+-----------+------------+----------------+------------------------+------+-------------------+-------------------+-----------+-------------------+-------------------+----------------+---------------+--------------+
|      username|user_id|user_watching|user_completed|user_onhold|user_dropped|user_plantowatch|user_days_spent_watching|gender|           location|         birth_date|access_rank|          join_date|        last_online|stats_mean_score|stats_rewatched|stats_episodes|
+--------------+-------+-------------+--------------+-----------+------------+----------------+------------------------+------+-------------------+-------------------+-----------+-------------------+-------------------+----------------+---------------+--------------+
|      karthiga|2255153|            3|            49|          1|           0|               0|       55.09166666666667|Female|    Chennai, India |1990-04-29 00:00:00|       null|2013-03-03 00:00:00|2014-02-04 01:32:00|            7.43|            0.0|        3391.0|
|     Damonashu|  37326|           45|           195|         27|          25|              59|       82.57430555555555|  Male|   Detroit,Michigan|1991-08-01 00:00:00|       null|2008-02-13 00:00:00|2017-07-10 06:52:54|            6.15|            6.0|        4903.0|
|         bskai| 228342|           25|           414|          2|           5|              11|      159.48333333333332|  Male|    Nayarit, Mexico|1990-12-14 00:00:00|       null|2009-08-31 00:00:00|2014-05-12 16:35:00|            8.27|            1.0|        9701.0|
|terune_uzumaki| 327311|            5|             5|          0|           0|               0|      11.394444444444444|Female|  Malaysia, Kuantan|1998-08-24 00:00:00|       null|2010-05-10 00:00:00|2012-10-18 19:06:00|             9.7|            6.0|         697.0|
|         Bas_G|5015094|           35|           114|          6|          20|             175|      30.458333333333332|  Male|Nijmegen, Nederland|1999-10-24 00:00:00|       null|2015-11-26 00:00:00|2018-05-10 20:53:37|            7.86|            0.0|        1847.0|
+--------------+-------+-------------+--------------+-----------+------------+----------------+------------------------+------+-------------------+-------------------+-----------+-------------------+-------------------+----------------+---------------+--------------+
only showing top 5 rows

In [6]:
animedf.show(5)

+--------+-------------------+--------------------+----------------------+--------------------+--------------------+----+--------+--------+---------------+------+--------------------+--------------------+---------------+--------------------+-----+---------+------+----------+--------+---------+--------------------+-----------+------------------+--------------------+--------------------+----------------+----------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|anime_id|              title|       title_english|        title_japanese|      title_synonyms|           image_url|type|  source|episodes|         status|airing|        aired_string|               aired|       duration|              rating|score|scored_by|  rank|popularity| members|favorites|          background|  premiered|         broadcast|             related|            producer|        licensor|          studio|               genre|       opening_theme|        ending_theme|        duration_min|     aired_from_year|
+--------+-------------------+--------------------+----------------------+--------------------+--------------------+----+--------+--------+---------------+------+--------------------+--------------------+---------------+--------------------+-----+---------+------+----------+--------+---------+--------------------+-----------+------------------+--------------------+--------------------+----------------+----------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|   11013|      Inu x Boku SS|Inu X Boku Secret...|             妖狐×僕SS|     Youko x Boku SS|https://myanimeli...|  TV|   Manga|      12|Finished Airing| False|Jan 13, 2012 to M...|{'from': '2012-01...|24 min. per ep.|PG-13 - Teens 13 ...| 7.63|   139250|1274.0|     231.0|283882.0|     2809|Inu x Boku SS was...|Winter 2012|Fridays at Unknown|{'Adaptation': [{...|Aniplex, Square E...|Sentai Filmworks|David Production|Comedy, Supernatu...|"['""Nirvana"" by...|"['#1: ""Nirvana"...|             11-12)'| '#2: ""Rakuen no...|
|    2104|   Seto no Hanayome|My Bride is a Mer...|            瀬戸の花嫁|The Inland Sea Bride|https://myanimeli...|  TV|   Manga|      26|Finished Airing| False|Apr 2, 2007 to Oc...|{'from': '2007-04...|24 min. per ep.|PG-13 - Teens 13 ...| 7.89|    91206| 727.0|     366.0|204003.0|     2579|                null|Spring 2007|           Unknown|{'Adaptation': [{...|TV Tokyo, AIC, Sq...|      Funimation|           Gonzo|Comedy, Parody, R...|"['""Romantic sum...|"['#1: ""Ashita e...|                26)'| '#2: ""Dan Dan D...|
|    5262| Shugo Chara!! Doki|  Shugo Chara!! Doki|しゅごキャラ！！どきっ|Shugo Chara Ninen...|https://myanimeli...|  TV|   Manga|      51|Finished Airing| False|Oct 4, 2008 to Se...|{'from': '2008-10...|24 min. per ep.|       PG - Children| 7.55|    37129|1508.0|    1173.0| 70127.0|      802|                null|  Fall 2008|           Unknown|{'Adaptation': [{...|     TV Tokyo, Sotsu|            null|       Satelight|Comedy, Magic, Sc...|"['#1: ""Minna no...| '#2: ""Shugo Shu...| '#3: ""Omakase♪G...| '#4: ""School Da...|
|     721|      Princess Tutu|       Princess Tutu|    プリンセスチュチュ|                null|https://myanimeli...|  TV|Original|      38|Finished Airing| False|Aug 16, 2002 to M...|{'from': '2002-08...|16 min. per ep.|PG-13 - Teens 13 ...| 8.21|    36501| 307.0|     916.0| 93312.0|     3344|Princess Tutu air...|Summer 2002|Fridays at Unknown|{'Adaptation': [{...|Memory-Tech, GANS...|       ADV Films|  Hal Film Maker|Comedy, Drama, Ma...|"['""Morning Grac...|"['""Watashi No A...|                16.0|              2002.0|
|   12365|Bakuman. 3rd Season|            Bakuman.|            バクマン。|    Bakuman Season 3|https://myanimeli...|  TV|   Manga|      25|Finished Airing| False|Oct 6, 2012 to Ma...|{'from': '2012-10...|24 min. per ep.|PG-13 - Teens 13 ...| 8.67|   107767|  50.0|     426.0|182765.0|     2082|                null|  Fall 2012|           Unknown|{'Adaptation': [{...|       NHK, Shueisha|            null|       J.C.Staff|Comedy, Drama, Ro...|"['#1: ""Moshimo ...| '#2: ""23:40 (23...|"['#1: ""Pride on...| '#2: ""Yume Sket...|
+--------+-------------------+--------------------+----------------------+--------------------+--------------------+----+--------+--------+---------------+------+--------------------+--------------------+---------------+--------------------+-----+---------+------+----------+--------+---------+--------------------+-----------+------------------+--------------------+--------------------+----------------+----------------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 5 rows

In [7]:
scoresdf.show(5)

+--------+--------+-------------------+-------------+--------------+--------+---------+-------------+----------------+-------------------+-------+
|username|anime_id|my_watched_episodes|my_start_date|my_finish_date|my_score|my_status|my_rewatching|my_rewatching_ep|    my_last_updated|my_tags|
+--------+--------+-------------------+-------------+--------------+--------+---------+-------------+----------------+-------------------+-------+
|karthiga|      21|                586|   0000-00-00|    0000-00-00|       9|        1|         null|               0|2013-03-03 10:52:53|   null|
|karthiga|      59|                 26|   0000-00-00|    0000-00-00|       7|        2|         null|               0|2013-03-10 13:54:51|   null|
|karthiga|      74|                 26|   0000-00-00|    0000-00-00|       7|        2|         null|               0|2013-04-27 16:43:35|   null|
|karthiga|     120|                 26|   0000-00-00|    0000-00-00|       7|        2|         null|               0|2013-03-03 10:53:57|   null|
|karthiga|     178|                 26|   0000-00-00|    0000-00-00|       7|        2|          0.0|               0|2013-03-27 15:59:13|   null|
+--------+--------+-------------------+-------------+--------------+--------+---------+-------------+----------------+-------------------+-------+
only showing top 5 rows

In [8]:
scoresdf.dtypes

[('username', 'string'),
 ('anime_id', 'string'),
 ('my_watched_episodes', 'string'),
 ('my_start_date', 'string'),
 ('my_finish_date', 'string'),
 ('my_score', 'string'),
 ('my_status', 'string'),
 ('my_rewatching', 'string'),
 ('my_rewatching_ep', 'string'),
 ('my_last_updated', 'string'),
 ('my_tags', 'string')]

In [9]:
scoresdf = scoresdf.drop("my_watched_episodes", "my_start_date", "my_finish_date", "my_rewatching", 
                         "my_last_updated", "my_tags", "my_status", "my_rewatching_ep" )
scoresdf.show(5)

+--------+--------+--------+
|username|anime_id|my_score|
+--------+--------+--------+
|karthiga|      21|       9|
|karthiga|      59|       7|
|karthiga|      74|       7|
|karthiga|     120|       7|
|karthiga|     178|       7|
+--------+--------+--------+
only showing top 5 rows

The ALS model only use three features. Breaking this dataframe to down organize it.

## Questions I like to answer using pyspark tools:

What are the scores?
What is the total number of users in the data sets?
What is the total number of anime in the data sets?
How many anime are rated by users? List how many anime not rated yet?

In [10]:
scoresdf.dtypes

[('username', 'string'), ('anime_id', 'string'), ('my_score', 'string')]

In [0]:
from pyspark.sql.types import IntegerType

In [0]:
scoresdf = scoresdf.withColumn("my_score", scoresdf["my_score"].cast(IntegerType()))

Changing the my_score to integers

What are the scores?

In [13]:
scoresdf.groupby("my_score")\
        .count()\
        .show()

+--------+--------+
|my_score|   count|
+--------+--------+
|    null|  100962|
|       1|  103177|
|       6| 2128502|
|       3|  223202|
|       5| 1085660|
|       9| 3443674|
|      17|       1|
|       4|  480871|
|       8| 4834595|
|       7| 4234726|
|      10| 2507404|
|       2|  130314|
|    2017|       1|
|       0|12111905|
+--------+--------+

In [14]:
# null, 17, 0, 2017 doesn't exist in the rating system. 
scoresdf = scoresdf.na.drop()
scoresdf = scoresdf.filter((scoresdf["my_score"] != 0) & (scoresdf["my_score"] != 2017) & (scoresdf["my_score"] != 17 ))
scoresdf.groupby("my_score")\
        .count()\
        .show()

+--------+-------+
|my_score|  count|
+--------+-------+
|       1| 103177|
|       6|2128502|
|       3| 223202|
|       5|1085660|
|       9|3443674|
|       4| 480871|
|       8|4834595|
|       7|4234726|
|      10|2507404|
|       2| 130314|
+--------+-------+

What is the total number of users in the data sets?

In [15]:
tmp = scoresdf.select('username').distinct().count()
print('We have a total of {} distinct users in the data sets'.format(tmp))

We have a total of 106402 distinct users in the data sets

How many anime are rated by users? List how many anime not rated yet?

In [16]:
tmp1 = animedf.select('anime_id').distinct().count()
tmp2 = scoresdf.select('anime_id').distinct().count()
print('We have a total of {} distinct anime that are rated by users in ratings table'.format(tmp2))
print('We have {} anime that are not rated yet'.format(tmp1-tmp2))

We have a total of 6598 distinct anime that are rated by users in ratings table
We have 70 anime that are not rated yet

In [17]:
animedf.createOrReplaceTempView("animedf")
scoresdf.createOrReplaceTempView("scoresdf")
print('List movies that are not rated yet: ')
# SQL query (NOTE: WHERE ... NOT IN ... == ... LEFT JOIN ... WHERE ... IS NULL)
# Approach 1
spark.sql(
    "SELECT anime_id, title "
    "FROM animedf "
    "WHERE anime_id NOT IN (SELECT distinct(anime_id) FROM scoresdf)"
).show(10)

List movies that are not rated yet:
+--------+--------------------+
|anime_id|               title|
+--------+--------------------+
|    7639|Shounen Santa no ...|
|   33310|Peach Command Shi...|
|   28119|Kuma no Minakuro ...|
|   33484|          Shiroi Zou|
|   31020|Norasco: Cinema P...|
|   34091|    Norasco Specials|
|   32663|Tama & Friends: U...|
|   37187| Kuiba Yao Xia Zhuan|
|   20001|     Mouretsu Atarou|
|   23537|  Two Down Full Base|
+--------+--------------------+
only showing top 10 rows

Converting the two dataframes of user-id, anime_id, scores

In [18]:
left_join = usersdf.join(scoresdf, usersdf.username == scoresdf.username,how='left') # Could also use 'left_outer'
left_join.show()

+--------+-------+-------------+--------------+-----------+------------+----------------+------------------------+------+--------------------+-------------------+-----------+-------------------+-------------------+----------------+---------------+--------------+--------+--------+--------+
|username|user_id|user_watching|user_completed|user_onhold|user_dropped|user_plantowatch|user_days_spent_watching|gender|            location|         birth_date|access_rank|          join_date|        last_online|stats_mean_score|stats_rewatched|stats_episodes|username|anime_id|my_score|
+--------+-------+-------------+--------------+-----------+------------+----------------+------------------------+------+--------------------+-------------------+-----------+-------------------+-------------------+----------------+---------------+--------------+--------+--------+--------+
| -Himeko|2156961|           13|           164|          0|           0|               0|       34.59513888888889|Female|Buenos Aires - Ar...|1996-09-04 00:00:00|       null|2013-02-09 00:00:00|2017-04-03 22:11:00|            8.66|            0.0|        2132.0| -Himeko|     178|       8|
| -Himeko|2156961|           13|           164|          0|           0|               0|       34.59513888888889|Female|Buenos Aires - Ar...|1996-09-04 00:00:00|       null|2013-02-09 00:00:00|2017-04-03 22:11:00|            8.66|            0.0|        2132.0| -Himeko|     853|       9|
| -Himeko|2156961|           13|           164|          0|           0|               0|       34.59513888888889|Female|Buenos Aires - Ar...|1996-09-04 00:00:00|       null|2013-02-09 00:00:00|2017-04-03 22:11:00|            8.66|            0.0|        2132.0| -Himeko|    1698|       9|
| -Himeko|2156961|           13|           164|          0|           0|               0|       34.59513888888889|Female|Buenos Aires - Ar...|1996-09-04 00:00:00|       null|2013-02-09 00:00:00|2017-04-03 22:11:00|            8.66|            0.0|        2132.0| -Himeko|    3092|       9|
| -Himeko|2156961|           13|           164|          0|           0|               0|       34.59513888888889|Female|Buenos Aires - Ar...|1996-09-04 00:00:00|       null|2013-02-09 00:00:00|2017-04-03 22:11:00|            8.66|            0.0|        2132.0| -Himeko|    3731|      10|
| -Himeko|2156961|           13|           164|          0|           0|               0|       34.59513888888889|Female|Buenos Aires - Ar...|1996-09-04 00:00:00|       null|2013-02-09 00:00:00|2017-04-03 22:11:00|            8.66|            0.0|        2132.0| -Himeko|    4224|       9|
| -Himeko|2156961|           13|           164|          0|           0|               0|       34.59513888888889|Female|Buenos Aires - Ar...|1996-09-04 00:00:00|       null|2013-02-09 00:00:00|2017-04-03 22:11:00|            8.66|            0.0|        2132.0| -Himeko|    4814|      10|
| -Himeko|2156961|           13|           164|          0|           0|               0|       34.59513888888889|Female|Buenos Aires - Ar...|1996-09-04 00:00:00|       null|2013-02-09 00:00:00|2017-04-03 22:11:00|            8.66|            0.0|        2132.0| -Himeko|    6045|       9|
| -Himeko|2156961|           13|           164|          0|           0|               0|       34.59513888888889|Female|Buenos Aires - Ar...|1996-09-04 00:00:00|       null|2013-02-09 00:00:00|2017-04-03 22:11:00|            8.66|            0.0|        2132.0| -Himeko|    7054|       8|
| -Himeko|2156961|           13|           164|          0|           0|               0|       34.59513888888889|Female|Buenos Aires - Ar...|1996-09-04 00:00:00|       null|2013-02-09 00:00:00|2017-04-03 22:11:00|            8.66|            0.0|        2132.0| -Himeko|    7674|      10|
| -Himeko|2156961|           13|           164|          0|           0|               0|       34.59513888888889|Female|Buenos Aires - Ar...|1996-09-04 00:00:00|       null|2013-02-09 00:00:00|2017-04-03 22:11:00|            8.66|            0.0|        2132.0| -Himeko|    7817|       8|
| -Himeko|2156961|           13|           164|          0|           0|               0|       34.59513888888889|Female|Buenos Aires - Ar...|1996-09-04 00:00:00|       null|2013-02-09 00:00:00|2017-04-03 22:11:00|            8.66|            0.0|        2132.0| -Himeko|    9656|       9|
| -Himeko|2156961|           13|           164|          0|           0|               0|       34.59513888888889|Female|Buenos Aires - Ar...|1996-09-04 00:00:00|       null|2013-02-09 00:00:00|2017-04-03 22:11:00|            8.66|            0.0|        2132.0| -Himeko|      68|       9|
| -Himeko|2156961|           13|           164|          0|           0|               0|       34.59513888888889|Female|Buenos Aires - Ar...|1996-09-04 00:00:00|       null|2013-02-09 00:00:00|2017-04-03 22:11:00|            8.66|            0.0|        2132.0| -Himeko|     226|       8|
| -Himeko|2156961|           13|           164|          0|           0|               0|       34.59513888888889|Female|Buenos Aires - Ar...|1996-09-04 00:00:00|       null|2013-02-09 00:00:00|2017-04-03 22:11:00|            8.66|            0.0|        2132.0| -Himeko|     243|       9|
| -Himeko|2156961|           13|           164|          0|           0|               0|       34.59513888888889|Female|Buenos Aires - Ar...|1996-09-04 00:00:00|       null|2013-02-09 00:00:00|2017-04-03 22:11:00|            8.66|            0.0|        2132.0| -Himeko|     245|       8|
| -Himeko|2156961|           13|           164|          0|           0|               0|       34.59513888888889|Female|Buenos Aires - Ar...|1996-09-04 00:00:00|       null|2013-02-09 00:00:00|2017-04-03 22:11:00|            8.66|            0.0|        2132.0| -Himeko|     326|       9|
| -Himeko|2156961|           13|           164|          0|           0|               0|       34.59513888888889|Female|Buenos Aires - Ar...|1996-09-04 00:00:00|       null|2013-02-09 00:00:00|2017-04-03 22:11:00|            8.66|            0.0|        2132.0| -Himeko|     442|       8|
| -Himeko|2156961|           13|           164|          0|           0|               0|       34.59513888888889|Female|Buenos Aires - Ar...|1996-09-04 00:00:00|       null|2013-02-09 00:00:00|2017-04-03 22:11:00|            8.66|            0.0|        2132.0| -Himeko|     746|      10|
| -Himeko|2156961|           13|           164|          0|           0|               0|       34.59513888888889|Female|Buenos Aires - Ar...|1996-09-04 00:00:00|       null|2013-02-09 00:00:00|2017-04-03 22:11:00|            8.66|            0.0|        2132.0| -Himeko|     850|       8|
+--------+-------+-------------+--------------+-----------+------------+----------------+------------------------+------+--------------------+-------------------+-----------+-------------------+-------------------+----------------+---------------+--------------+--------+--------+--------+
only showing top 20 rows

In [0]:
left_join= left_join.select("user_id", "my_score", "anime_id" )
#Only need three features for the ALS model.

In [20]:
left_join.printSchema()

root
 |-- user_id: integer (nullable = true)
 |-- my_score: integer (nullable = true)
 |-- anime_id: string (nullable = true)

# ALS Model

ALS is one of the low rank matrix approximation algorithms for collaborative filtering. ALS decomposes user-item matrix into two low rank matrixes: user matrix and item matrix. In collaborative filtering, users and products are described by a small set of latent factors that can be used to predict missing entries. And ALS algorithm learns these latent factors by matrix factorization

In [0]:
left_join = left_join.withColumn("anime_id", scoresdf["anime_id"].cast(IntegerType()))

In [22]:
left_join.printSchema

In [0]:
#Split dataset to train and test
train_data, test_data = left_join.randomSplit([0.8, 0.2])

In [0]:
from pyspark.ml.recommendation import ALS
from pyspark.ml.evaluation import RegressionEvaluator

In [25]:
left_join = left_join.na.drop()
#nulls will crash the ALS model
left_join.describe()

DataFrame[summary: string, user_id: string, my_score: string, anime_id: string]

In [0]:
model = ALS(userCol='user_id', itemCol='anime_id', ratingCol='my_score').fit(left_join)

In [0]:
from pyspark.ml.evaluation import RegressionEvaluator

In [0]:
(trainingRatings, testRatings) = left_join.randomSplit([80.0, 20.0])

In [0]:
als = ALS(userCol='user_id', itemCol='anime_id', ratingCol='my_score')
model = als.fit(trainingRatings)
predictions = model.transform(testRatings)

In [31]:
predictions.toPandas().head()

   user_id  my_score  anime_id  prediction
0   252259         7       148    4.653338
1   285987         7       148    6.841636
2    26111         6       148    5.921710
3    91084         6       148    6.213613
4    58066         8       148    6.544576

In [32]:
evaluator = RegressionEvaluator(metricName='rmse', labelCol='my_score', predictionCol='prediction')
print('The root mean squared error for our model is: {}'.format(evaluator.evaluate(predictions)))

The root mean squared error for our model is: nan

nan happens when the model can't predict value that they don't have data on.

Replace predicted NaN values with the average rating and evaluate the model:

In [33]:
avgRatings = left_join.select('my_score').groupBy().avg().first()[0]
print ('The average rating in the dataset is: {}'.format(avgRatings))

evaluator = RegressionEvaluator(metricName='rmse', labelCol='my_score', predictionCol='prediction')
print ('The root mean squared error for our model is: {}'.format(evaluator.evaluate(predictions.na.fill(avgRatings))))

The average rating in the dataset is: 7.59139401605195
The root mean squared error for our model is: 1.2301980583899745

Now exclude predicted NaN values and evaluate the model:

In [34]:
evaluator = RegressionEvaluator(metricName='rmse', labelCol='my_score', predictionCol='prediction')
print ('The root mean squared error for our model is: {}'.format(evaluator.evaluate(predictions.na.drop())))

The root mean squared error for our model is: 1.2300982176995245

Now we can run the model to test the recommendations.

In [0]:
from pyspark.sql.functions import lit

def recommendMovies(model, user, nbRecommendations):
    # Create a Spark DataFrame with the specified user and all the anime listed in the ratings DataFrame
    dataSet = left_join.select('anime_id').distinct().withColumn('user_id', lit(user))

    # Create a Spark DataFrame with the anime that have already been rated by this user
    moviesAlreadyRated = left_join.filter(left_join.user_id == user).select('anime_id', 'user_id')

    # Apply the recommender system to the data set without the already rated anime to predict ratings
    predictions = model.transform(dataSet.subtract(moviesAlreadyRated)).dropna().orderBy('prediction', ascending=False).limit(nbRecommendations).select('anime_id', 'prediction')

    # Join with the movies DataFrame to get the anime titles and genres
    recommendations = predictions.join(animedf, predictions.anime_id == animedf.anime_id).select(predictions.anime_id, animedf.title, animedf.genre, predictions.prediction, animedf.premiered)

#     recommendations.show(truncate=False)
    return recommendations

In [36]:
print('Recommendations for user 3924291:')
recommendMovies(model, 3924291, 10).toPandas()

Recommendations for user 3924291:

   anime_id  ...    premiered
0     35478  ...  Spring 2017
1     32281  ...         None
2     28977  ...  Spring 2015
3     15417  ...    Fall 2012
4     30484  ...  Spring 2018
5     28851  ...         None
6      9969  ...  Spring 2011
7     34096  ...  Winter 2017
8       263  ...    Fall 2000
9     15335  ...         None

[10 rows x 5 columns]

In [37]:
print('Recommendations for user 303577:')
recommendMovies(model, 303577, 10).toPandas()

Recommendations for user 303577:

   anime_id                                  title  ... prediction    premiered
0     35478                           Neko no Robu  ...  10.540213  Spring 2017
1     28977                               Gintama°  ...   9.528095  Spring 2015
2      3784  Evangelion: 2.0 You Can (Not) Advance  ...   9.567251         None
3      5114       Fullmetal Alchemist: Brotherhood  ...   9.647413  Spring 2009
4     36732     Qin Shi Ming Yue: Tian Xing Jiu Ge  ...   9.684301         None
5      9253                            Steins;Gate  ...   9.560666  Spring 2011
6     33473                  Tokyo Futago Athletic  ...  10.158769  Winter 2017
7     15417               Gintama&#039;: Enchousen  ...   9.536556    Fall 2012
8     35385         Yukai na Animal Bus 2nd Season  ...  10.179564  Summer 2017
9      9969                          Gintama&#039;  ...   9.654662  Spring 2011

[10 rows x 5 columns]

The ALS algorthim shows the top ten anime recommendation. When comparing the results from the baseline, the anime varied but both has the same anime with each other. The ALS leans toward anime that are not known but includes popular anime also. While baseline shows mostly popular anime. The RMSE for ALS is 1.22568. While Baselineonly is 1.289960.  

# Conclusion

If I have to use one recommendation system it would be the ALS because it accounts for all data and not samples like the baseline. Also it has a lower RSME than baseline This recomendation system would be great for the website to help recommend the users what anime to watch. Since the system cater towards people who are familar with anime. I can see it run similar like netflix or spotify recommendation system . To go further is to use all the data for the model for baseline model and knn to use it for the full potential.